def r1(hand: set) -> set:
    # your code here
    return {}

print('Example')
print(r1({['m2', 's9', 'p9', 'dg', 's3', 's2', 'm1', 's8', 'dg', 'p9', 'dg', 's7', 's1', 'm3']}))

assert r1({'m1', 'm2', 'm3', 'p9', 'p9', 's1', 's2', 's3', 's7', 's8', 's9', 'dg', 'dg', 'dg'}) == [15, 21, 28], "1st example"
assert r1({'m3', 'm4', 'm5', 'm5', 'm6', 'm7', 'm9', 'm9', 'm9', 's4', 's4', 's4', 'ws', 'ws'}) == [15, 21, 28], "2nd example"
assert r1({'', '', '', '', '', '', '', '', '', '', '', '', '', ''}) == [15, 21, 28], "3rd example"
assert r1({'', '', '', '', '', '', '', '', '', '', '', '', '', ''}) == [15, 21, 28], "4th example"
assert r1({'', '', '', '', '', '', '', '', '', '', '', '', '', ''}) == [15, 21, 28], "5th example"

print("Now, what about 'Check solution'?")
